body, html {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
}

#landing {
    display: flex;
}

#landing .image {
    position: relative;
    flex: 1;
    background: url('path-to-your-image.jpg') no-repeat center center;
    background-size: cover;
}

#landing .about {
    flex: 1;
    padding: 20px;
}

.overlay-text {
    position: absolute;
    top: 80px;
    left: 49.4%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: "PT Sans Narrow";
}
.overlay-text1 {
    position: absolute;
    top: 155px;
    left: 49.4%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 85px;
    font-family: "DIN Condensed";
    text-align: center;
}

.toolbar button {
    padding: 10px 20px;
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-family: "PT Sans Narrow";
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.season {
    position: relative;
    padding-top: 50px;
}

.season .title {
    position: absolute;
    top: 20px;
    left: -150px;
    transform:  rotate(270deg);
    font-size: 300px;
    font-family: "DIN Condensed";
    color: white;
    white-space: nowrap;
}

.seasonTextBox {
    width: 1017px;
    margin-left: 350px;
}

.seasonTextBlurb {
    font-family: Arial;
    color: white;
    font-size: 27px;
}
.activityTextbox{
    width: 545px;
    margin-left: 350px;
    margin-top: 100px;
}

.activityHeader {
    font-family: "PT Sans Narrow";
    color: white;
    font-size: 48px;
}
.activityDescription{
    font-family: Arial;
    color: white;
    font-size: 20px;
}

.activityImage {
    width: 404px;
    height: 227px;
    border-radius: 30px;
    margin-top: -200px;
    margin-left: 65%;
}

#landing {
    background-color: #8FBFD6;
}

#autumn {
    height: 1200px;
    background-color: #8A605A;
}

#winter {
    height: 1200px;
    background-color: #123E54;
}

#spring {
    height: 1200px;
    background-color: #D4A597;
}

#summer {
    height: 1200px;
    background-color: #509FBE;
}

.header1 {
    font-size: 75px;
    font-family: "DIN Condensed";
    color: #226881;
}

.AboutText {
    font-size: 18px;
    color: #154D61;
    font-family: Arial;
}
.button-container {
    margin-top: -50px;
}

.navButt {
    margin: 10px;
    width: 180px;
    height: 90px;
    border-color: transparent;
    background-color: #C3D3DE;
border-radius: 14px;
    font-family: "PT Sans Narrow";
    font-size: 35px;
    color: #154D61;
}








/* The Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 856px;
    border-radius: 15px;
    background-color: #624949624949; /* 70% opacity black background */
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.modal-content {
    position: relative;
    color: white;
}

.modal-content h2 {
    margin: 0;
    font-size: 45px; /* Adjust as needed */
    font-family: "PT Sans Narrow";
}

.modal-content img {
    display: block;
    margin: 20px auto;
    max-width: 944px;
    max-height: 481px;
    border-radius: 30px;
}

.modal-content p {
    font-size: 20px; /* Adjust as needed */
    font-family: "PT Sans Narrow";
    color: white;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Background overlay when modal is open */
body-modal-open {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7); /* 70% opacity black background */













